.container-fluid{
    background-color: #333838;
}
.nav1{
    background-color: #4b5563;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
p{
    color: white !important;
}
a{
    text-decoration: none;
    color: white !important;
}
.field-icon {
    z-index: 2;
}
.discord-invite-container {
    font-family: Arial, sans-serif;
    background-color: #2C2F33;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
}

.discord-invite-header h3 {
    color: #7289DA;
    margin-bottom: 15px;
}

.discord-invite-content {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

}

.discord-invite-container {
    min-width: 320px; /* Ajustez cette valeur selon vos besoins */
    max-width: 600px; /* Ajustez ou enlevez cette valeur selon vos besoins */
    margin: auto; /* Centrer le conteneur si moins large que l'espace disponible */
}


.discord-guild-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 15px;
}

.discord-guild-info h4 {
    margin: 0;
    color: #FFFFFF;
}

.discord-guild-stats {
    margin-top: 5px;
    color: #99AAB5;
}

.discord-invite-join-btn {
    background-color: #5865F2;
    color: #FFFFFF;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.discord-invite-join-btn:hover {
    background-color: #4752C4;
}
.image-container img:hover {
    transform: scale(1);
    transition: transform .3s ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
@media (min-width: 768px) {
    .content-adjusted {
        margin-left: 200px;
    }
}
@media (min-width: 768px) {
    .navbarFixed{
        margin-left: 15.85%;
    }
}
@media (max-width: 768px) {
    .margintop-mobile{
        margin-bottom: 10% !important;
    }
}

body {
    background-color: #f4f4f4;
}

.card-header {
    font-weight: bold;
}

.card-footer {
    background-color: #fff;
}

.badge {
    padding: 5px 10px;
    font-size: 0.875em;
}

.btn-danger {
    float: right;
}

.alert-fixed {
    margin-top: 4%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

.alert-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#floating-alerts-container {
    position: fixed;
    top: 10px;
    left: 57.51%;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
    min-width: 20%;

}




